@import '../../../css/variables';

.Filter {
  width: 200px;
  min-width: 200px;
  color: $darkBlue;

  .TextFieldWrapper {
    margin-top: 15px;
  }

  .BrandsWrapper {
    padding-top: 5px;
    max-height: 270px;
    overflow-y: auto;
    overscroll-behavior-y: none;
    padding-left: 11px;
    margin: 5px 0 20px -11px;

    .Brand {
      max-width: 100%;
    }
  }
}
