@import '../../css/variables';

.OrderListItem {
  width: 100%;
  padding: 20px;
  background-color: $lightGray;
  border: 1px solid $e1;
  border-radius: 4px;
  .OrderListItemTop {
    display: flex;
    .OrderInfo {
      cursor: pointer;
      transition: color 0.2s ease;
      .OrderId {
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
      }
      .OrderDate {
        font-size: 16px;
        margin-top: 5px;
      }
      &:hover {
        color: $darkRed;
      }
    }
    .ClientInfo {
      margin-left: 105px;
      .OrderAddressTitle {
        color: $darkRed;
        font-size: 18px;
      }
      .OrderAddressName {
        font-size: 19px;
        line-height: 20px;
        margin-top: 8px;
      }
      .OrderDoorPhone {
        color: $blueGray;
        margin-top: 8px;
      }
    }
    .PaymentInfo {
      margin-left: auto;
      margin-right: 0;
      text-align: right;
      .PaymentTotal {
        font-size: 24px;
        font-weight: bold;
        span {
          font-size: 21px;
          font-weight: normal;
        }
      }
      .PaymentMethod {
        margin-top: 5px;
      }
    }
  }
  .OrderListItemBottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .OrderStatus {
      font-weight: bold;
      text-transform: uppercase;
    }
    .OrderRepeat {
      display: flex;
      align-items: baseline;
      color: $blueGray;
      cursor: pointer;
      p {
        margin-left: 5px;
      }
      &:hover {
        svg path {
          fill: $darkRed;
        }
        p {
          color: $darkRed;
        }
      }
    }
  }
}
